<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Distiller</title>
    <link rel="icon" href="../static/img/favicon.ico" type="image/x-icon" />
    <link href="../static/content/dashboard.css" rel="stylesheet" />
    <script src="../static/scripts/socket.io.js"></script>
    <script src="../static/scripts/dialGauge.js"></script>

    <script type="text/javascript" charset="utf-8">

        //создание объета веб-сокетов
        socket = io();

        // Функция отображения данных, поступивших от сервера, на html странице
        function ShowDeviceData(msg) {
            //Отображение значений температур
            if ('Thermometers' in msg) {
                //console.log(msg.Thermometers);
                ShowThermometers(msg.Thermometers);
            }
            //Отображение вольтметра
            if ('Voltmeter' in msg) {
                ShowVoltmeter(msg.Voltmeter);
            }
            //Отображение мощности нагрева
            if ('Power' in msg) {
                //alert(msg.Power);
                ShowPower(msg.Power);
            }
            //Отображение надписи на дисплее-табло
            if (msg.Display) {
                document.querySelector(`div.Display>div.Display_text`).innerHTML = msg.Display
                //$('.Display_text').html(msg.Display);
            }
            //Отображение состояния клапана дефлегматора
            if ('DephState' in msg) {
                //alert(msg.DephState);
                if (msg.DephState) {
                    Dephlegmator.style.background = '#00ff00';
                }
                else {
                    Dephlegmator.style.background = 'rgb(50,80,50)';
                }
            }
            //Отображение состояния клапана конденсатора
            if ('CondState' in msg) {
                //alert(msg.CondState);
                if (msg.CondState) {
                    Condensator.style.background = '#00ff00';
                }
                else {
                    Condensator.style.background = 'rgb(50,80,50)';
                }
            }
            //Отображение кнопок
            if (msg.ModeButtons) {
                document.querySelector(`#ModeButtons`).innerHTML = msg.ModeButtons
                //$('#ModeButtons').html(msg.ModeButtons);
            }
        }
    </script>
</head>

<body>
    <div id="page">
        <!--Заголовок страницы. Выводится название устройства из файла config.py-->
        <div id="header">
            <div style="display: inline-block;">
                <h1> <a href="{{ url_for('home') }}" class="engrav">{{ title }}</a></h1>
                <h1 class="c0"><span class="c1">Простой но очень умный дистиллятор (SmartDistiller)</span></h1>
            </div>
            <div class="right_content">
                <button id="Shutdown" class="knopka" title="Отключение питания"><span class="icon-switch"></span></button>
            </div>
        </div>

        <!--Дисплей в виде светодиодной панели-->
        <div class="Display">
            <div class="Display_text">Включите поддержку скриптов браузером</div>
            <div class="Display_cover"></div>
        </div>

        <!--Панель приборов-->
        <div id="Dashboard">
            <!--Термометры и индикаторы клапанов дефлегматора и конденсатора-->
            <div id="Thermometers"></div>

            <!--Стрелочные индикаторы мощности нагрева и напряжения сети-->
            <div id="Gauges">
                <div id="Voltmeter"></div>
                <div id="Power"></div>
            </div>


            <!--Блок с кнопками-->
            <div id="Buttons">
                <!--Панель с кнопками режимов работы-->
                <div id="ModeButtons" class="engrav"></div>
                <button id="Parameters" class="knopka">Параметры</button>
            </div>
        </div>

        <!--Подвал страницы, здесь отображается некоторая текущая информация-->
        <div id="footer">
            <div class="center">
                <!--<span>Дата и время устройства: </span><br /><span id="ServerDateTime" class="center"></span> <br />
                <span>Соединение </span><span id="StateConection"></span><br />-->

            </div>
            <p>
                Самогонщики всех стран объединяйтесь!
            </p>
        </div>
    </div>

    <script type="text/javascript" charset="utf-8">
        /**
         * код ниже будет исполняться после загрузки окна
         **/
        window.addEventListener("load", function () {
            this.document.querySelector('div.Display_text').textContent = 'Загрузка...'
            //Запрос актуальных данных от сервера
            let dataToServer = { sid: socket.id };
            socket.emit('GiveDeviceData', dataToServer, (data) => {
                //alert(data.DateTime);
                ShowDeviceData(data);
            });
        });


        // Веб-сокет, принимающий и отображающий данные с сервера
        socket.on('DataFromServer', (data) => {
            //alert('Получены данные');
            ShowDeviceData(data);
        });

        //обработчик нажатия кнопки Shutdown
        Shutdown.addEventListener('click', function () {
            socket.emit('Control', { 'Button': this.id });
        });

        //Обработчик нажатия кнопки в <div id="Buttons">
        Buttons.addEventListener('click', function (eventObject) {
            //alert('id=' + $(this).prop('id'));
            let clickedItem;
            if (eventObject.target !== eventObject.currentTarget) {
                clickedItem = eventObject.target.id;
                console.log('id=' + eventObject.target.id);
                //alert("Hello " + clickedItem);
            }
            eventObject.stopPropagation();  //остановить распространение события
            
            socket.emit('Control', { 'Button': clickedItem });
        });

        /**
         * Отображает/изменяет значение вольтметра
         * @param Voltmeter значение напряжения
         */
        function ShowVoltmeter(Voltmeter) {
            //console.log(Voltmeter);
            //если ещё нет вольтметра на странице, создать его
            //console.log('gauges' in document);
            //console.log('Voltmeter' in document);
            if (!('gauges' in document) || !('Voltmeter' in document.gauges)) {
                let VoltMeter = new DialGauge({
                    id: `Voltmeter`,
                    height: 110,
                    majorTicks: 10,
                    minorTicks: 5,
                    minValue: 170,
                    maxValue: 270,
                    value: Voltmeter,
                    title: 'Сеть',
                    units: "V",
                });
            }
            else {
                document.gauge['Voltmeter'].value = Voltmeter;
            }
        }

        /**
         * Отображает/изменяет значение ваттметра
         * @param Power
         */
        function ShowPower(Power) {
            console.log(Power);
            let WattMeter = new DialGauge({
                id: 'Power',
                height: 140,
                majorTicks: 8,
                minorTicks: 5,
                minValue: 0,
                maxValue: 4.000,
                value: Power,
                title: 'Нагрев',
                units: "kW",
                canBeChanged: true,
            });
            WattMeter.addEventListener('changeValue', function (event) {
                console.log(`${this.Attributes.id}=${this.value}${this.Attributes.units}`);
                socket.emit('Control', { 'SetValue': [this.Attributes.id, this.value] });
            }, false);
        }

        /**
         * если ещё не отображены термометры, создает их и устанавливает значения
         * @param Thermometers список термометров со значениями температур и триггеров
         * вида [['Низ, 68.4], ['Дефлегматор', 52.3, 53.1]] (третье значение - триггер)
         */
        function ShowThermometers(Thermometers) {
            //проверить необходимость перерисовки термометров
            let redraw = false;
            for (let Thermometer of Thermometers) {
                if (!document.querySelector(`[id="${Thermometer[0]}"]`)) {
                    redraw = true;
                    break;
                }
            }
            //если нужно перерисуть
            if (redraw) {
                //удалить термометры из списка приборов
                for (let div in document.querySelectorAll(`.thermometerRow`)) {
                    if (div.firstChild) {
                        id = div.firstChild.id;
                        delete document.gauges[id];
                    }
                }
                //очистить div Thermometers
                //let Ths = document.querySelector(`#Thermometers`);
                //while (Ths.firstChild) { Ths.removeChild(Ths.firstChild); }
                while (Thermometers.firstChild) { Thermometers.removeChild(Thermometers.firstChild); }
                //нарисовать термометры заново
                for (let Thermometer of Thermometers) {
                    createThermometer(Thermometer);
                }
            }
            else {
                for (let Thermometer of Thermometers) {
                    document.gauges[Thermometer[0]].value = Thermometer[1];
                    if (len(Thermometer) > 2) {
                        document.gauges[Thermometer[0]].triggerValue = Thermometer[2];
                    }
                }
            }

        }

        /**
         * Создает термометр с указанным наименованием и значением температуры
         * Для термометров конденсатора и дефлегматора дополнительно устанавливаются
         * индексы триггеров, определяющих порог срабатывания клапанов этих
         * холодильников
         * @param Thermometer массив пар (название, значение)
         */
        function createThermometer(thermometer) {
            //параметры термометра
            let options = {
                id: thermometer[0],
                title: thermometer[0],
                units: "°C",
                value: thermometer[1],
                triggerValue: 100,
                width: 400,
                minorTicks: 5,
            };
            //если задано значение триггера, включить его
            if (thermometer.length > 2) {
                options.withTrigger = true;
                options.triggerValue = thermometer[2];
            }
            //создать строку термометра
            let divRow = document.createElement('div');
            divRow.className = 'thermometerRow';
            divRow.style.display = 'table-row';
            //создать ячейку для термометра
            let divCel = document.createElement('div');
            divCel.style.display = 'table-cell';
            //id ячейки совпадает с id и наименованием термометра
            divCel.id = thermometer[0];
            divRow.appendChild(divCel);
            document.querySelector(`#Thermometers`).appendChild(divRow);
            //создать объект термометра
            let Thrmr = new Thermometer(options);
            //если есть триггер, привязать обработчика изменения значения триггера
            if (thermometer.length > 2) {
                Thrmr.addEventListener('changeTrigger', function (event) {
                    socket.emit('Control', { 'SetTrigger': [event.detail.id, event.detail.value]});
                }, false);
            }
            //добавить ячейку для светодиодов клапанов холодильников
            let divCelLed = document.createElement('div');
            divCelLed.className = 'LED';
            divCelLed.style = 'vertical-align:middle; display : table-cell';
            divRow.appendChild(divCelLed);
            //если ещё нет индикатора конденсатора, смонтировать его
            if (!document.querySelector(`#Condensator`)) {
                let divLed = document.createElement('div');
                divLed.id = 'Condensator';
                divLed.className = 'round';
                divCelLed.appendChild(divLed);
            }
            //если ещё нет индикатора дефлегматора, собрать и его
            else if(!document.querySelector(`#Dephlegmator`)) {
                let divLed = document.createElement('div');
                divLed.id = 'Dephlegmator';
                divLed.className = 'round';
                divCelLed.appendChild(divLed);
            }


        }

    </script>
</body>
</html>
