[Desktop Entry]
Comment=Управление перегонным аппаратом (web-интерфейс)
Terminal=false
Categories=Distiller;
Name=killDistiller
Exec=sudo bash '/home/pi/Distiller/delDistiller.sh'
Type=Application
Icon=/home/pi/Distiller/Distiller/static/img/delDistiller.png
GenericName=Удаление пакета Дистиллятор
