[Unit]
Description=Управление дистиллятором (сервер)
After=syslog.target
After=network.target
After=multi-user.target
 
[Service]
User=pi
Type=simple
Restart=always
ExecStart=sudo bash /home/pi/Distiller/startDistiller.sh
 
[Install]
WantedBy=multi-user.target
