[Desktop Entry]
Comment=Управление перегонным аппаратом (web-интерфейс)
Terminal=false
Categories=Distiller;
Name=Distiller
Exec=chromium-browser --disable-gpu http://localhost:5555/
Type=Application
Icon=/home/pi/Distiller/Distiller/static/img/favicon.ico
GenericName=Дистиллятор
