[Unit]
Description=Управление дистиллятором
After=multi-user.target
 
[Service]
User=pi
Type=simple
Restart=always
ExecStart=bash /home/pi/Distiller/startDistiller.sh
 
[Install]
WantedBy=multi-user.target
